.background_cover{
	height: 270px;
	width: 100%;
	object-fit: cover;
}

.box{
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.user_box{
	max-width: 500px;
	position: absolute;
	top: 200px;
	z-index: 1;
	left: 10%;
	display: flex;
}

.user_avatar{
	width: 40%;
	border-radius: 100px;
	height: 80%;
	margin:  20px;
}

.user_detail{
	color: black;
	flex: 1;
	justify-items: center;
	margin: auto;
}

.user_name{
	font-size: 200%;
	font-weight: bold;
}

.user_id{
	opacity: 30%;
	font-weight: bold;
}

.edit_profile{
	background: red;
	color:  white;
	padding: 5px 10px;
	border-radius: 30px;
	border-color: red;
	margin-top: 30px;
}
