.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.modal_container {
    position: relative;
    height: 350px;
    width: 688px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    cursor: auto;
    animation: modal_animation ease 0.7s;
}

.modal_container_out {
    animation: modal_animation_out ease 0.7s;
}
.button_close {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    font-size: 2.5rem;

    right: 0;
    color: #000;
}
.button_close:hover {
    opacity: 0.7;
}
.modal_container-foot {
    width: 50%;
    height: 100%;
    background-color: #c4c4c4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.modal_container-body {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.modal_container-title {
    text-align: center;
    margin-top: 34px;
    font-size: 3.5rem;
}
.modal_container-content {
    margin-top: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 550;
}
.modal_container-link {
    color: #0093b4;
}
.modal_input {
    padding: 7px 10px;
    margin-left: 44px;
    width: 80%;
    margin-top: 8px;
    border-radius: 14px;
    border-style: solid;
    border-color: #c4c4c4;
    color: #000;
    font-weight: 500;
    outline: none;
}
.modal_container-body-name {
    display: flex;
    flex-direction: row;
}
.modal_input-name1 {
    margin: 8px 1px 0 44px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.modal_input-name2 {
    margin: 8px 7% 0 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.modal_button {
    margin-top: 8px;
    margin-bottom: 0;
    border: none;
    background-color: #ee171f;
    color: #fff;
    cursor: pointer;
}
.check_box {
    padding-top: 8px;
    text-align: center;
    /* margin: auto; */
    /* padding-bottom: 18px; */
}
.check_box-content {
    font-size: 1.2rem;
}
.check_box-content > a {
    text-decoration: none;
    color: #0093b4;
}
@keyframes modal_animation {
    from {
        transform: translateY(-60px);
        opacity: 0.6;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modal_animation_out {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(60px);
        opacity: 0;
    }
}
